<?xml version="1.0" encoding="UTF-8"?> 

<web-app version="3.0"   
    xmlns="http://java.sun.com/xml/ns/javaee"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">  
    <!--
  <servlet>  
    <servlet-name>UserServlet</servlet-name>  
    <servlet-class>com.goforit.firstapple.forum.servlet.UserServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>UserServlet</servlet-name>  
    <url-pattern>/user</url-pattern>  
  </servlet-mapping>   -->
  
  <!-- 区分项目名称，防止默认重名 -->  
    <context-param>  
        <param-name>webAppRootKey</param-name>  
        <param-value>maven.example.root</param-value>  
    </context-param>
    
    <!-- Spring的log4j监听器
    <listener>  
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>  
    </listener>   
      -->

<!-- -->
    <servlet> 
        <servlet-name>javax.ws.rs.core.Application</servlet-name> 
      	<param-name>javax.ws.rs.Application</param-name>
      	<param-value>com.goforit.firstapple.forum.restful.RestApplication</param-value>
        <load-on-startup>1</load-on-startup> 
    </servlet> 
     

    <servlet-mapping>
         <servlet-name>javax.ws.rs.core.Application</servlet-name>
         <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
      
  
      
</web-app>  